.head {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

body {
    margin: 0;
    padding: 0;
}

.menu {
    background-color: #2b2d42;
    grid-row: 1 / 10;
    padding-top: 100px;
    box-shadow: 30px 0 30px -30px rgba(0, 0, 0, 0.2);
}

.content {
    background-color: #f9fafe;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    grid-row: 1 / 10;
    grid-column: 2 / 6;
}

.menu-button {
    width: 100%;
    background-color: #2b2d42;
    border: 0 solid;
    font-size: 16pt;
    height: 50px;
    color: #faf9f9;
    font-family: Montserrat;
    font-weight: 500;
}

.menu-button:hover {
    background-color: #353852;
    transition-duration: 0.2s;
}

.menu-button-clicked {
    width: 100%;
    background-color: #4460ef;
    border: 0 solid;
    font-size: 16pt;
    height: 50px;
    color: #faf9f9;
    font-family: Montserrat;
    font-weight: 500;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    font-family: Montserrat;
}



